{{/*
# SPDX-FileCopyrightText: 2023 Johnny Jazeix
# SPDX-FileCopyrightText: 2023 Joseph P. De Veaugh-Geiss
# SPDX-FileCopyrightText: 2022 Arwin Neil Baichoo
# SPDX-FileCopyrightText: 2022 Lana Lutz
# SPDX-FileCopyrightText: 2022 Paul Brown
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">
{{ end }}

{{ define "main" }}

<main id="home">

  <section style="overflow: hidden;" class="mt-0" id="eco">
    <div class="row">
      <div class="col-lg-6 jumbotron-main be4foss">
        <div class="container p-5 jumbo-card">
          <h2 class="mt-0">{{ i18n "home.sok" }}</h2>
          <p class="ml-auto mr-auto">{{ i18n "home.header.sok.description" }}</p>
          <div><a href="{{ "/sok" | relLangURL }}" class="btn btn-primary">{{ i18n "home.header.more" }}</a>
            <a href="{{ "/sok#faq" | relLangURL }}" class="btn btn-primary">{{ i18n "home.header.faq" }}</a></div>
        </div>
      </div>
      <div class="col-lg-6 jumbotron-main feep mb-0">
        <div class="container p-5  jumbo-card">
          <h2 class="mt-0">{{ i18n "home.gsoc" }}</h2>
          <p class="ml-auto mr-auto">{{ i18n "home.header.gsoc.description" }}</p>
          <div><a href="{{ "/gsoc" | relLangURL }}" class="btn btn-primary">{{ i18n "home.header.more" }}</a>
            <a href="{{ "/gsoc#faq" | relLangURL }}" class="btn btn-primary">{{ i18n "home.header.faq" }}</a></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <h1 class="font-weight-bold"> {{ .Title }} - {{ .Site.Params.description }} </h1>
          <p>{{ i18n "kde-mentorship-description" }}</p>
          <p>{{ i18n "kde-mentorship-lets" }}</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="/get-involved">
            <h2 class="fw-bold">{{ i18n "home.engage" | markdownify }}</h2>
          </a>
          <h3>{{ i18n "home.engage.joinus" }}</h3>
        </div>
        <div class="col mt-4  py-5 text-center">
          <a href="https://webchat.kde.org/#/room/#kde-soc:kde.org">
            <img class="matrix" src="/images/matrix.png" alt="{{ i18n "home.engage.matrix" }}" style="max-width:3em" />
            <h3 class="fw-bold">{{ i18n "home.engage.matrix" }}</h3>
          </a>
        </div>
        <div class="col mt-4 py-5 text-center">
          <a href="https://mail.kde.org/cgi-bin/mailman/listinfo/kde-soc">
            <i class="icon icon_mail-mark-unread home-icon"> </i>
            <h3 class="fw-bold">{{ i18n "home.engage.mailinglist" }}</h3>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "posts" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/blog").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/blog").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-muted">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary | plainify }}
            {{end}}
            <a href="{{ .Permalink }}" class="d-block learn-more mt-2">{{i18n "read-more" }}</a>
          </div>
        </div>
      {{end}}
      </div>
      <a href="blog/" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "view-all-posts" }}</a>
    </div>
  </section>
</main>
{{ end }}
